{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="mh-full-screen d-flex align-items-center" style="background-color: rgb(228, 241, 220)">
  <div class="container text-lg overlay-content py-6 py-lg-0" style="background-color: rgb(228, 241, 220)">
    {% for message in messages %}
    <div class="message">{{ message }}</div>
    {% endfor %}
    <div id="pp"><h3 class="pp-ttl" style="font-weight: normal;">パスワードをお忘れですか？</h3><p style="padding-left: 8px;">登録したアカウントのメールアドレスにメールを送り、そこからパスワードを再設定することができます。<br><small
      class="form-text text-muted mt-2 custom_form-text" id="descriptionHelp" style="padding-left: 8px;">例：×××@××.××.jp</small>
  </p>
    </div>
    <form action="" method="POST">
      {{ form.non_field_errors }}
      {% for field in form %}
      <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
          {{ field }}
          {{ field.errors }}
      </div>      
      {% endfor %}
      {% csrf_token %}
      <br>
      <button type="submit" class="btn btn-primary btn-lg mx-auto">送信</button>
    </form>
  </div>
</div>
{% endblock %}