{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="mh-full-screen py-5" style="background-color: rgb(228,241, 220)">
  <div class="container">
    {% if errors %}
    <ul>
      {% for field, error_msgs in errors.items %}
      <li>{{ field }}: {{ error_msgs|join:", " }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <p class="subtitle text-primary custom_subtitle-size" style="height: auto; margin-bottom: 2rem;">パスワードを変更できます。入力後は下の変更ボタンを押して変更が完了になります。</p>
    <div id="pp"><h3 class="pp-ttl" style="font-weight: normal;">パスワード変更</h3></div>
    <form method="post" action="{% url 'password_change' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary btn-lg mx-auto">変更</button>
    </form>
  </div>
</section>
{% endblock %}