{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="mh-full-screen d-flex align-items-center" style="background-color: rgb(228, 241, 220)">
  <div class="container text-lg overlay-content py-6 py-lg-0" style="background-color: rgb(228, 241, 220)">
    {% for message in messages %}
    <div class="message">{{ message }}</div>
    {% endfor %}
    <div id="pp">
      <h3 class="pp-ttl" style="font-weight: normal;">パスワードの再設定を受け付けました</h3><p style="padding-left: 8px;">パスワード再設定のurlが記載されたメールが送信されました。
      </p>
      <p style="padding-left: 8px;">メールをご確認いただき、記載されたリンクからパスワード再設定を行ってください。</p>
    </div>
  </div>
</div>
{% endblock %}