{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="mh-full-screen d-flex align-items-center" style="background-color: rgb(228, 241, 220)">
  <div class="container text-lg overlay-content py-6 py-lg-0" style="background-color: rgb(228, 241, 220)">
    <div id="pp"><h3 class="pp-ttl" style="font-weight: normal;">パスワードリセットが完了しました！</h3>
    <p style="padding-left: 8px;">パスワードのリセットが正常に完了しました。</p>
    <p style="padding-left: 8px;">新しいパスワードを使用してログインしてください。</p>
    <button type="button" onclick="location.href='{% url 'hoikone:login' %}'" class="btn btn-primary btn-lg mx-auto">ログインページへ</button>
    </div>
  </div>
</div>
{% endblock %}