{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="hero py-6 py-lg-7 text-white dark-overlay">
  <img class="bg-image" src="{% static 'img/original/contact_bg.jpg' %}" alt="contact">
  <div class="container overlay-content">
<!-- Breadcrumbs -->
    <ol class="breadcrumb text-white justify-content-center no-border mb-0">
      <li class="breadcrumb-item active">privacypolicy</li>
    </ol>
    <h1 class="hero-heading">プライバシーポリシー（個人情報保護方針）</h1>
  </div>
</section>
<section class="mh-full-screen" style="background-color: rgb(228, 241, 220); padding-top: 50px;">
  <div class="container">
    <div id="pp">
      <h3 class="pp-ttl">個人情報保護方針</h3>
    </div>
    <div class="pp-body">
      <p>
      当サイトの運営に際し、利用者のプライバシーを尊重し個人情報に対して十分な配慮を行うとともに、<br>
      大切に保護し、適正な管理を行うことに努めております。
      </p>
      <dl>
        <dt>【個人情報の利用目的】</dt>
        <dd>
        a）利用者のご要望に合わせたサービスを提供するためのご連絡。<br>
        b）お問い合わせいただいたご質問への回答のご連絡。<br>
        c）保育園情報の表示。
        </dd>
      </dl>
<ul>
<li>・公正かつ適正な手段で、上記目的に必要となる個人情報を収集します。</li>
<li>・要配慮個人情報を取得する際は、ご本人の同意を得るものとします。</li>
<li>・取得した個人情報・要配慮個人情報は、ご本人の同意なしに目的以外では利用しません。</li>
<li>・情報が漏洩しないよう対策を講じます。</li>
<li>・国内外を問わず、ご本人の同意を得ずに第三者に情報を提供しません。</li>
<li>・ご本人からの求めに応じ情報を開示します。</li>
<li>・公開された個人情報が事実と異なる場合、訂正や削除に応じます。</li>
<li>・個人情報の取り扱いに関する苦情に対し、適切・迅速に対処します。</li>
<li>・本個人情報保護方針の適用範囲は本サイト内のみとします。</li>
</ul>
<dl>
<dt>【Googleアナリティクスの使用について】</dt>
<dd>
当サイトでは、より良いサービスの提供、またユーザビリティの向上のため、Googleアナリティクスを使用し、当サイトの利用状況などのデータ収集及び解析を行っております。その際、「Cookie」を通じて、Googleがお客様のIPアドレスなどの情報を収集する場合がありますが、「Cookie」で収集される情報は個人を特定できるものではありません。<br>
収集されたデータはGoogleのプライバシーポリシーにおいて管理されます。<br>
なお、当サイトのご利用をもって、上述の方法・目的においてGoogle及び当サイトが行うデータ処理に関し、お客様にご承諾いただいたものとみなします。
</dd>
</dl>
<dl>
<dt>■Googleのプライバシーポリシー</dt>
<dd>
<a href="http://www.google.com/intl/ja/policies/privacy/" target="_blank">http://www.google.com/intl/ja/policies/privacy/</a><br>
<a href="https://www.google.com/intl/ja/policies/privacy/partners/" target="_blank">https://www.google.com/intl/ja/policies/privacy/partners/</a>
</dd>
</dl>
<dl>
<dt>【著作権・肖像権】</dt>
<dd>当Webサイト内の文章や画像、すべてのコンテンツは著作権・肖像権等により保護されています。無断での使用や転用は禁止されています。</dd>
</dl>
<dl>
<dt>【当サイトへのリンクについて】</dt>
<dd>当Webサイトへのリンクは、自由に設置していただいて構いません。ただし、Webサイトの内容等によってはリンクの設置をお断りすることがあります。</dd>
</dl>
<dl>
  <dt>【免責事項について】</dt>
  <dd>当webサイトのコンテンツ・情報について、可能な限り正確な情報を掲載するよう努めておりますが、正確性や安全性を保証するものではありません。当webサイトに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。<br>
  当サイトからリンクやバナーなどによって他のサイトに移動した場合、移動先サイトで提供される情報、サービス等について一切の責任を負いません。、</dd>
</dl>

<dl>
<dt>【個人情報に関するお問い合わせ先】</dt>
<dd><a href="mailto:hoikone1108@gmail.com">hoikone1108@gmail.com</a></dd>
</dl>
<dl style="padding-bottom: 50px;">
  <dt>【プライバシーポリシーの制定日】</dt>
  <dd>制定：2023年8月26日</dd>
  </dl>
</div>
</div>
</section>
    {% endblock %}